<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user_center::commonHeader"></head>
<body>
<div id="top_bar" class="container" th:replace="user_center::commonTopBar">
</div>
<div id="body_container">
    <div id="side_nav" class="container">
        <ul class="nav nav-pills side_nav_list">
            <li class="nav-header">
                <span>个人中心</span>
            </li>
            <li ><a href="#" th:href="@{personal_info}">个人资料</a></li>
            <li class="active"><a href="#" th:href="@{my_meetings}">我的会议</a></li>
            <li><a href="#" th:href="@{create_meeting}">创建会议</a></li>
            <li><a href="#" th:href="@{search_meeting}">搜索会议</a></li>
            <li><a href="#" th:href="@{meeting_detail}">会议详情</a></li>
            <li><a href="#" th:href="@{modify_info}">修改个人信息</a></li>
        </ul>
    </div>
    <main class="content_layout">
        <h1>我的会议</h1>
        <div class="page_content">
            <ul class="list-group" th:if="${meetingList}">
                <li class="list-group-item">
                    <h4>待开始</h4>
                </li>
                <li class="list-group-item" th:each="m, state:${meetingList}">
                    <div th:replace="fragments::meeting_card(${m}, ${state.index}, 0)"></div>
                </li>
            </ul>
            <div th:unless="${meetingList}">
                <label>列表空空如也</label>
            </div>

            <ul class="list-group" th:if="${meetingExpiredList}">
                <li class="list-group-item">
                    <h4>历史会议</h4>
                </li>
                <li class="list-group-item" th:each="m, state:${meetingExpiredList}">
                    <div th:replace="fragments::meeting_card(${m}, ${state.index}, 1)"></div>
                </li>
            </ul>
            <div th:unless="${meetingExpiredList}">
                <label>列表空空如也</label>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript">
    function get_meeting_info(meeting_id) {
        // console.log(meeting_id);
        $.ajax({
            url: "/api/search_meeting",
            type: "POST",
            data: "ids=" + meeting_id,
            dataType: "json",
            success: function (res) {
                if (res.state == 200) {
                    location.href = "meeting_detail";
                } else {
                    alert(res.message);
                }
            },
            error: function (xhr) {
                alert("出现未知错误! " + xhr.status);
            }
        });
    }
</script>
</body>
<footer th:replace="user_center::commonFooter">
</footer>
</html>
